/*------------- google-fonts=------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

/* -----root style-------- */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}



/* -----------------------main part uses all section------------------------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-bottom: 50px;
}
.container{
    width: 1050px;
   
}





/* ---------------------copa-america copa-banner stylesheet ----------------------*/





.copa-thambnail{
    display: flex;
    justify-content: space-between;
   background: #2D25A0;
    padding: 30px 200px;    
}

.copa-title{
    width: 50%;
}
.copa-banner{
    width: 50%;
}
.copa-thambnail .copa-title h1{
    font-size: 64px;
    color: white;
    font-weight: 700;
    font-size: 64px;
    
}
.btn {
    padding: 15px 40px;
    background: tomato;
    border: none;
    border-radius: 5px;  
    transition:  .5s;
}

.btn:hover{
   
    transform: scale(1.06);
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: tomato;
}
.fas{
    padding-left: 10px;
}

.copa-thambnail .copa-banner img{
    width: 556.01px;
    height: 438px;
}


   /*------------------ players-stylesheet-------------------- */


.all-players{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}

.player{
    width: 330px;
    padding: 10px;
    box-shadow: 10px 10px 40px #c7c7c7c9;
    border-radius: 5px;
   
}
.player .player-pic img{
    width: 100%;
}

/* ------------------------highlights style-sheet------------------------------ */



.highlight{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin-left: 80px;
}
.highlight .highlight-text h1{
    font-size: 48px;
    font-weight: bold;
}


.highlight-pic img{
    width: 567px;
    height: 427px;
    
}
/*-------------------------- footer-style-sheet--------------------------------- */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.footer-wrap{

    width: 485px;
    display: flex;
   flex-direction: column;
   align-items: center;

}


.footer-logo img{
    width: 483px;
}
.foot-icon{
    color: darkgray;
    padding: 5px;
}
