/*------------- google-fonts=------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');





/* -----------------------main part uses all section------------------------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    
    margin: 50px 0px;
}


.container{
    width: 1050px;
   
}



/* ---------------------copa-america copa-banner stylesheet ----------------------*/




.copa-wrap{
    display: flex;
    justify-content: center;
    background: #2D25A0;
}

.copa-thambnail{
    display: flex;
    justify-content: space-between;
    width: 1140px;   
}


.copa-title-text{
    font-size: 64px;
    color: white;
    font-weight: 700;
    
    
}
.btn {
    padding: 15px 40px;
    background: tomato;
    border: none;
    border-radius: 5px;  
    transition:  .5s;
}

.btn:hover{
   
    transform: scale(1.06);
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background: tomato;
}
.fas{
    padding-left: 10px;
}

.copa-thambnail .copa-banner img{
    width: 556px;
    
}


   /*------------------ players-stylesheet-------------------- */

  
.all-players{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}

.player{
    width: 330px;
    padding: 10px;
    box-shadow: 10px 10px 40px #c7c7c7c9;
    border-radius: 5px;
   
}
.player .player-pic img{
    width: 100%;
}


/*-------------------------- footer-style-sheet--------------------------------- */

footer{
    margin: 100px 0px;
    display: flex;
    justify-content: center;

}
.footer-wrap{

    width: 485px;
    display: flex;
   flex-direction: column;
   align-items: center;

}


.footer-logo img{
    width: 483px;
}
.foot-icon{
    color: darkgray;
    padding: 5px;
}


/* ------------------------------media-query-------------------------------- */

@media only screen and (max-width:688px) {
       
    /* ------copa banner ------*/
    
    .copa-wrap{
        display: flex;
        justify-content: center;
        padding-left: 5%;
       
    }
    .copa-thambnail{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .copa-title-text{
        font-size: 40px;
    }  
    .btn{
        padding: 5px 5px;
    }
    .copa-banner img{
        padding: 50px 0px;
        max-width: 350px;
   
    }

    /*--------- players --------*/

    .container{
        width: 100%;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .player{
        display:flex ;
        flex-direction: column;
        align-items: center;
        
    }
    

/* ------------footer------------ */
    .footer-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-logo img{
        width: 250px;
    }

    
}