/*------------- google-fonts=------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

/* -----root style-------- */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}



/* -----------------------main part uses all section------------------------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-bottom: 50px;
}
.container{
    width: 1050px;
   
}





/* ---------------------copa-america copa-banner stylesheet ----------------------*/


.copa-wrapper{
    background:  #2D25A0;
}

.copa-thambnail{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    background:  #2D25A0;;
}



.copa-thambnail .copa-title h1{
    font-size: 64px;
    color: white;
    font-weight: 700;
    font-size: 64px;
    
}
.btn {
    padding: 15px 40px;
    background: tomato;
    border: none;
    border-radius: 5px;  
    transition:  .5s;
}

.btn:hover{
   
    transform: scale(1.06);
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: tomato;
}
.fas{
    padding-left: 10px;
}

.copa-thambnail .copa-banner img{
    width: 556.01px;
    height: 438px;
}


   /*------------------ players-stylesheet-------------------- */


.all-players{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}

.player{
    width: 330px;
    padding: 10px;
    box-shadow: 10px 10px 40px #c7c7c7c9;
    border-radius: 5px;
   
}
.player .player-pic img{
    width: 100%;
}
